/*Portfolio stylings*/

@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Montserrat:wght@600&family=Russo+One&display=swap);
html * {
  font-family: "Dosis", serif;
  scroll-behavior: smooth;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

body {
  margin: 0px;
  background-image: linear-gradient(180deg, rgb(94, 90, 90), rgb(54, 51, 51));
  background-color: rgb(54, 51, 51);
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-bg-color {
  padding-top: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.round {
  border-radius: 50%;
}

.top-nav-border {
  border-bottom: 2.5px solid lightgrey;
  border-radius: 2px;
  font-size: 0.9em;
  margin-left: 60px;
  margin-right: 160px;
  color: whitesmoke;
}

.bottom-nav-wrapper {
  position: fixed;
  font-size: 0.8em;
  bottom: 10px;
  color: whitesmoke;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: whitesmoke;
}

.right-side {
  font-size: 1.2em;
}

.left-side {
  display: flex;
  font-weight: 150;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}
.nav-link-wrapper a:hover {
  color: white;
  cursor: pointer;
}

.active-nav-link a {
  color: white !important;
}

.logo {
  height: 50px;
  width: 50%;
}

.logo img {
  height: 120px;
}

/*Body stylings*/
.portfolio-content-wrapper {
  overflow: auto;
}

.Portfolio-header {
  background-color: rgb(95, 95, 95);
  height: 200px;
  width: 50%;
  color: whitesmoke;
  text-align: center;
  border-radius: 20px 100px;
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  filter: drop-shadow(0 0 10px rgb(27, 27, 27));
  margin-left: 25%;
  cursor: default;
}

.Portfolio-header > h1 {
  position: relative;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 2px;
}

.Portfolio-header > h2 {
  text-transform: uppercase;
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 2px;
}

.Portfolio-header > p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.span_1 {
  transition: 0.5s;
}
.span_1:hover {
  transition: 0.5s;
  background-color: cornflowerblue;
}

.span_2 {
  transition: 0.5s;
}
.span_2:hover {
  transition: 0.5s;
  background-color: rgb(108, 153, 110);
}

.span_3 {
  transition: 0.5s;
}
.span_3:hover {
  transition: 0.5s;
  background-color: rgb(170, 101, 124);
}

.top-third {
  position: absolute;
  left: 0px;
  height: 33%;
  width: 90%;
  margin-left: 100px;
  margin-right: 300px;
}

.middle-third {
  position: absolute;
  left: 0px;
  height: 33%;
  width: 100%;
  top: 400px;
}

.bottom-third {
  position: absolute;
  left: 0px;
  top: 800px;
  height: 33%;
  width: 100%;
}

.portfolio-middle > .left-half {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1526666361175-e3595627c376?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80);
  background-size: cover;
  filter: drop-shadow(0 0 10px rgba(34, 33, 33, 0.61));
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 40%;
  left: 90px;
  float: left;
  transition: 0.5s;
  margin-left: 40px;
  border-radius: 10px;
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  text-align: center;
}

.portfolio-middle > .left-half > a:hover {
  font-size: 190%;
  color: rgb(132, 204, 204);
  transition: 0.5s;
}

.portfolio-middle > .left-half > a {
  font-size: 1.6em;
  position: relative;
  top: 150px;
  font-family: fantasy;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.portfolio-middle > .right-half {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  filter: drop-shadow(0 0 10px rgb(34, 33, 33));
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 40%;
  float: right;
  margin-right: 160px;
  border-radius: 10px;
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  text-align: center;
}

.portfolio-middle > .right-half > a:hover {
  font-size: 190%;
  color: rgb(132, 204, 204);
  transition: 0.5s;
}

.portfolio-middle > .right-half > a {
  font-size: 1.6em;
  position: relative;
  top: 150px;
  font-family: fantasy;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: none;
}

.portfolio-bottom > .left-half {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80);
  background-size: cover;
  filter: drop-shadow(0 0 10px rgb(34, 33, 33));
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 40%;
  left: 90px;
  float: left;
  transition: 0.5s;
  margin-left: 40px;
  bottom: 50px;
  border-radius: 10px;
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  text-align: center;
}

.portfolio-bottom > .left-half > a:hover {
  font-size: 190%;
  color: rgb(132, 204, 204);
  transition: 0.5s;
}

.portfolio-bottom > .left-half > a {
  font-size: 1.6em;
  position: relative;
  top: 150px;
  font-family: fantasy;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.portfolio-bottom > .right-half {
  position: relative;
  height: 100%;
  width: 40%;
  bottom: 50px;
  float: right;
  margin-right: 40px;
}

.github-circle {
  background-color: rgb(95, 95, 95);
  height: 300px;
  width: 300px;
  align-content: center;
  filter: drop-shadow(0 0 10px rgb(24, 24, 24));
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  margin-left: 150px;
}

.decor {
  position: absolute;
  background-color: teal;
  height: 100px;
  width: 100px;
  filter: drop-shadow(0 0 10px rgb(34, 34, 34));
  outline-color: rgba(245, 245, 245, 0.411);
  outline-style: inset;
  margin-top: 170px;
  margin-left: 260px;
}

.circle {
  border-radius: 50%;
}

.github-link > a:hover {
  font-size: 1.8em;
  color: rgb(132, 204, 204);
  transition: 0.5s;
}

.github-link > a {
  font-size: 1.6em;
  position: absolute;
  top: 100px;
  font-family: fantasy;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
  left: 90px;
}

.github-link > p {
  font-size: 1.2em;
  position: absolute;
  top: 120px;
  left: 48px;
  font-weight: lighter;
  color: rgb(202, 202, 202);
  text-decoration: none;
  letter-spacing: 1px;
}

/* Other Projects Styling*/
.misc-content-wrapper {
  overflow: auto;
  margin-bottom: 20px;
}
.other-project {
  outline-color: aliceblue;
  width: auto;
  height: 350px;
}

.header-project {
  width: auto;
  height: 250px;
  text-align: center;
}

.other-project > .right-side {
  width: 48%;
  height: 100%;
  float: right;
  position: relative;
}

.other-project > .left-side {
  width: 48%;
  height: 100%;
  position: relative;
}

.offset {
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.other-project > .right-side > img {
  width: auto;
  height: 90%;
  transition: 1s ease;
  outline-color: whitesmoke;
  outline-style: inset;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.747));
}

.other-project > .left-side > img {
  width: auto;
  height: 90%;
  transition: 1s ease;
  outline-color: whitesmoke;
  outline-style: inset;
  margin-left: 50%;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.76));
}

.other-project > .right-side > img:hover {
  -webkit-transform: scale(2.3);
  transform: scale(2.3);
  transition: 1s ease;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.other-project > .left-side > img:hover {
  -webkit-transform: scale(2.3);
  transform: scale(2.3);
  transition: 1s ease;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.header-project > .misc-description {
  margin-left: 18%;
  height: 220px;
  width: 65%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    border-radius: 80px 5px;
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: thick;
  color: whitesmoke;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.header-project > .misc-description > h1 {
  font-family: fantasy;
  font-weight: lighter;
  text-transform: uppercase;
  padding-top: 10px;
}

.logo-filler {
  background-image: url(Art/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.493);
  height: 250px;
  width: 250px;
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.filler > h3 {
  font-family: monospace;
  float: right;
  margin-top: 200px;
  letter-spacing: 0.5px;
  color: whitesmoke;
}

.circle {
  border-radius: 50%;
}

/* Police Database */

Police-content-wrapper {
  overflow: auto;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253)),
    url(https://images.unsplash.com/photo-1526666361175-e3595627c376?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path:polygon(0 0, 100% 0, 100% 160px, 80% 200px, 60% 170px, 40% 200px, 20% 140px, 0 200px);
  border-radius: 20px;
  color: whitesmoke;
}

.top-half {
  height: 50%;
  width: 100%;
}
.bottom-half {
  height: 50%;
  width: 100%;
}

.police-content > .right-half {
  height: auto;
  width: 50%;
  float: right;
}

.police-content > .left-half {
  height: auto;
  width: 50%;
  float: left;
}

.Police-overview {
  margin-top: 10px;
  margin-bottom: 50px;
  width: auto;
}

.police-header {
  text-align: center;
  color: whitesmoke;
  font-family: fantasy;
}

.requirements{
  padding-top: 4%;
  text-align: center;
  filter: brightness(60%);
  transition: 0.5s ease;
  
}

.requirements:hover{
  filter: brightness(95%);
  transition: 0.5s ease;
}

.slideshow{
text-align: center;
filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.76));
}

.slideshow > img {
 width: 80%;
 border-radius: 20px;
 text-align: center;
 filter: brightness(90%);
}

.police-info{
  color: whitesmoke;
  padding: 10px;
  height: auto;
  width: 80%;
  background-image: linear-gradient(grey,darkgrey);
  text-align: center;
  border-radius: 20px 50px;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.76));
  outline-color: whitesmoke ;
  outline-style: inset;
}

.police-info > h2{
  font-family: fantasy;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.75px;
  font-size: 1.9em;
  text-decoration: underline;
}

/* OCLC database styling*/

.library-content-wrapper{
  overflow: auto;
  color: whitesmoke;
}

.OCLC-top{
  padding-top: 2%;
  text-align: center;
}

.OCLC-top > .left-half {
  width: 48%;
  height: auto;
  float: left;
}

.OCLC-top > .right-half {
  width: 48%;
  height: auto;
  float: right;
}

.OCLC-top > .library-slideshow > img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0 0 15px rgba(29, 28, 28, 0.87));
  outline-color: whitesmoke;
  outline-style: inset;
  outline-width: 5px;
}


.capstone-team{
  float: left;
  padding: 2px;
  background-color: #8a8a8a;
  width: 50%;
  height: auto;
  border-radius: 20px;
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: 2px;
  filter: drop-shadow(0 0 15px rgba(29, 28, 28, 0.767));
}

.capstone-team > h3 {
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-decoration: underline;
}

.capstone-team > ul {
  margin-right:10%;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

.oclc-tech{
  float: right;
  padding: 2px;
  background-color: #8a8a8a;
  width: 50%;
  height: auto;
  border-radius: 20px;
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: 2px;
  filter: drop-shadow(0 0 15px rgba(29, 28, 28, 0.87));
}

.oclc-tech > h3 {
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-decoration: underline;
}

.oclc-tech > ul {
  margin-right:10%;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 2px;
}

.OCLC-middle {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  height: auto;
  padding: 2px;
  text-align: center;
  top: 600px;
  background-image: linear-gradient( 180deg,#919090, #4d4c4c);
  border-radius: 20px 50px;
  filter: drop-shadow(0 0 15px rgba(29, 28, 28, 0.87));
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: 2px;
  font-size: large;
}

.oclc-wiki > h2 {
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 1.2px;
} 

.oclc-wiki > p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.OCLC-bottom{
  margin-top: 80px;
  text-align: center;
}

.OCLC-bottom > .right-half {
  width: 48%;
  height: auto;
  float: right;
}

.OCLC-bottom > .left-half {
  width: 48%;
  height: auto;
  float: left;
}

.OCLC-bottom > .right-half > img {
  padding: 30px;
  border-radius: 20%;
  filter: drop-shadow(0 0 15px rgba(29, 28, 28, 0.726));
}

.time-line{
  text-align: center;
  padding-top: 30px;
}
