/*Over-all needed styles*/
@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Montserrat:wght@600&family=Russo+One&display=swap);
html * {
  font-family: "Dosis", serif;
  color: whitesmoke;
}

body {
  margin: 0px;
  background-color: rgb(54, 51, 51);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-bg-color {
  padding-top: 20px;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.round {
  border-radius: 50%;
}

.top-nav-border {
  border-bottom: 2.5px solid lightgrey;
  border-radius: 2px;
  margin-left: 60px;
  margin-right: 60px;
  color: whitesmoke;
}

.bottom-nav-wrapper {
  position: fixed;
  font-size: 1em;
  bottom: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: whitesmoke;
}

.right-side {
  font-size: 1.5em;
}

.left-side {
  display: flex;
  font-weight: 150;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}
.nav-link-wrapper a:hover {
  color: white;
}

.active-nav-link a {
  color: white !important;
}

/*Index styles*/
.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding-top: 70px;
  padding-left: 200px;
}

.image-stack > .top-image {
  grid-column: 7 / span 8;
  grid-row: 1;
  padding-top: 10%;
  z-index: 1;
}

.image-stack > .top-image > img {
  width: 600px;
  border-radius: 5% 20%;
  filter: drop-shadow(0 0 10px rgb(58, 57, 57));
}

.image-stack > .bottom-image {
  grid-column: 8 / -2;
  grid-row: 1;
  width: 550px;
  height: 450px;
  border-radius: 5% 20%;
  background-color: rgb(2, 105, 105);
}

.image-stack > .introduction-phrase {
  /*circle build*/
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 400px;
  height: 400px;
  filter: drop-shadow(0 0 10px rgba(31, 30, 30, 0.719));
  background-color: rgb(92, 92, 92);
  display: table-cell;
  /*text*/
  line-height: 30px;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
}

.image-stack > .introduction-phrase > .text-wrap {
  margin-top: 100px;
}

.image-stack > .introduction-phrase > .text-wrap > h1 {
  font-family: "Russo One" !important;
  font-weight: lighter;
  font-size: 2em;
}

.image-stack > .introduction-phrase > .text-wrap > h2 {
  font-family: "Russo One" !important;
  font-weight: lighter;
  font-size: 1.5em;
}

.text-wrap > a {
  color: rgb(219, 218, 218) !important;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.5s;
}

.text-wrap > a:hover {
  cursor: pointer;
  color: white !important;
  text-decoration: underline;
  font-size: 26px;
}

/*Research styles*/

.research-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto);
}
.column-1 {
  grid-area: auto;
  align-content: center;
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.column-1 > h1 {
  font-family: fantasy;
  font-weight: lighter;
  margin-left: 10px;
}

.column-2 {
  grid-area: auto;
  align-content: center;
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.column-2 > h1 {
  font-family: fantasy;
  font-weight: lighter;
  margin-left: 10px;
}

.decor {
  border-bottom: 1px solid white;
}

.row {
  grid-template-areas: "left right";
}

.eri-button {
  display: block;
  width: 20%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
  transition: 0.5s;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.findhorn-button {
  display: block;
  width: 20%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
  transition: 0.5s;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.eri-button:hover {
  cursor: pointer;
  color: white !important;
  text-decoration: underline;
  font-size: 35px;
  text-decoration: none;
}

.findhorn-button:hover {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  font-size: 35px;
}

.button {
  text-decoration: none;
}

.eri-images {
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.eri-images > .eri-image {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.eri-images > .group-photo {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.eri-images > .peatlands {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.findhorn-images {
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.findhorn-images > .findhorn-image {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.findhorn-images > .findhorn-lodge {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

.findhorn-images > .findhorn-waste {
  width: auto;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}

/* resume styles */
.resume-pdf {
  display: table;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border: teal solid 10px;
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.589));
}
