/*Over-all needed styles*/
html * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.main-bg-color {
  padding-top: 20px;
  list-style-type: none;

  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top-nav-border {
  border-bottom: 2px solid grey;
  margin-left: 60px;
  margin-right: 60px;
}

.bottom-nav-wrapper {
  position: fixed;
  font-size: 0.85em;
  bottom: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link a {
  color: black !important;
}

/*Index styles*/
/*Resume styles*/
/*Portfolio styles*/
